.carousel {

    &__container {
        width: calc(100vw - 60px);
        max-width: 500px;
        margin: 0 auto;
    }

    &__img {
        object-fit: cover;
        cursor: pointer;
        &--screen {
            width: 100vw;
            height: 100vh;
        }
    }

    &__title {
        font-family: $title;
        font-weight: 900;
        margin: 20px 0 10px;

        &--center {
            text-align: center;
        }
    }

    &__text {
        font-family: $content;
        font-weight: thin;
    }

    &__info {
        margin-bottom: 30px;
    }

    .thumbs-wrapper {
        padding: 10px;
        margin: 0 0 20px;
        background-color: rgba(156, 170, 100, 0.2);
    }
    .thumb {
        cursor: pointer;
    }
}